.Category_list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

}

.Category_list li {
    overflow: hidden;
    position: relative;
    border: 1px solid transparent;
    border-radius: 20px;
    width: 365px;
    height: 215px;
    transition: all .2s;
    display: flex;
    align-items: flex-end;
}

.Category_list li:hover {
    border: 1px solid #dfdfdf;
}

.Category_list a {
    display: flex;
}

.Category_title {
    max-width: 260px;
    display: flex;
    flex-direction: column-reverse;
    padding: 0 0 20px 20px;
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    color: var(--black);
}

.Category_cover {
    height: 100%;
    position: absolute;
    width: 100%;
    bottom: 0;
    right: -25px;
    width: 200px;
    height: 214px;
}