@import url(reset.css);
@import url(global.css);
@import url(header.css);
@import url(news.css);
@import url(allProduct.css);
@import url(allCategory.css);
@import url(delivery.css);
@import url(aboutme.css);


.ProductsAndCategories__wrapper {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.Products_list {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    flex-wrap: wrap;
}

.Products_list li {
    width: 341px;
    height: 501px;
    padding: 20px;
    position: relative;
    background: rgb(165 160 154 / 12%);
    border-radius: 20px;
    transition: all .2s;
    cursor: pointer;
    border: 1px solid transparent;
}

.Products_list li:hover {
    background: rgba(255, 159, 50, 0.151);
    border: 1px solid rgba(255, 159, 50, 0.151);
}

.Products_img {
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 235px;

    border-radius: 20px;
}

.Products_info {
    margin-top: 245px;
}

.Products_cost {
    font-weight: 600;
    font-size: 23px;
    color: var(--black);
    border-radius: 13px;
    padding: 10px 18px;
    background: #f8f8f8;
    width: fit-content;
}

.Products_description {
    margin-top: 13px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: var(--black);
}

.Products_more {
    margin-top: 13px;
    border-radius: 10px;
    padding: 15px 104px;
    width: 100%;
    background: var(--black);
}

.Products_more:hover {
    border: 1px solid var(--black);
    background: transparent;
}


.Products {
    max-width: 1126px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.Categories {
    max-width: 370px;
    padding: 30px 10px;
}

.Products,
.Categories {
    border: 1px solid var(--gray-two);
    background: transparent;
    border-radius: 20px;
}

.Categories h1,
.Products h1 {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
}

.Products h1::before,
.Categories h1::before {
    content: "";
    background: url(../images/brand.svg) no-repeat;
    width: 24px;
    height: 24px;
    display: block;
}

.Products h1::before {
    background: url(../images/product.svg) no-repeat;
    width: 29px;
    height: 29px;
}

.Categories_list {
    margin-top: 50px;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.Categories_list li a {
    display: block;
    border-radius: 20px;
    width: fit-content;
    padding: 20px;
    background: rgba(255, 161, 50, 0.12);
    font-weight: 600;
    font-size: 18px;
    color: var(--black);
}

.Categories_list li {
    width: fit-content;
}