.assortment {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
    border-radius: 20px;
    background: #f6f3f0;
    padding: 50px 50px 110px;
    @include r($desktop) {
      padding: 40px 40px 80px;
    }
    @include r($lg) {
      padding: 35px 30px 60px;
    }
    @media (max-width: 910px) {
      gap: 50px;
    }
    @include r($tablet) {
      padding: 35px 35px 45px;
      margin: 0 -15px;
    }
    @include r($sm) {
      padding: 30px 25px 35px;
    }
    @include r($phone) {
      padding: 30px 20px 30px;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 720px;
  }

  &__title {
    max-width: 500px;
    font-weight: 500;
    @media (max-width: 810px) {
      max-width: 440px;
    }
    @media (max-width: 420px) {
      font-size: 24px;
    }
  }

  &__subtitle {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    @include r($lg) {
      font-size: 22px;
    }
    @include r($sm) {
      font-size: 20px;
    }
    @media (max-width: 410px) {
      font-size: 19px;
      margin-bottom: 14px;
    }
  }

  &__description {
    font-weight: 400;
    font-size: 20px;
    max-width: 620px;
    line-height: 150%;
    color: #6c6c6c;
    @include r($lg) {
      font-size: 18px;
      max-width: 510px;
    }
    @include r($sm) {
      font-size: 16px;
      max-width: 450px;
    }
    @media (max-width: 420px) {
      font-size: 14px;
    }
  }

  &__list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    @media (max-width: 910px) {
      gap: 8px;
    }
  }

  &__link {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    border-radius: 14px;
    padding: 18px 29px;
    color: #4e2c15;
    background: #f0e5db;
    border: 1px solid transparent;
    transition: color .4s, border .4s, background-color .4s;
    @include r($tablet) {
      padding: 17px 27px;
    }
    @media (max-width: 520px) {
      font-size: 14px;
    }

    &:hover {
      background-color: transparent;
      border-color: #4e2c15;
    }

    &:focus {
      background-color: #4e2c15;
      color: $white;
    }
  }
}