.feedback {
  margin-bottom: 80px;

  &__wrapper {
    border-radius: 20px;
    padding: 50px 50px 30px;
    border: 1px solid $gray-two;
    width: 100%;
    @include r($desktop) {
      padding: 40px 40px 30px;
    }
    @media (max-width: 1100px) {
      padding: 40px 30px 30px;
    }
    @include r($tablet) {
      margin: 0 -5px;
      border-radius: 16px;
      width: auto;
      padding: 40px 25px 30px;
    }
    @include r($phone) {
      padding: 30px 17px 25px;
      border-radius: 12px;
    }
  }

  &__title {
    margin-bottom: 30px;
  }

  &__list {
    @include flex-column(17);
    margin-bottom: 20px;
    @media (max-width: 810px) {
      gap: 10px;
    }
  }

  &__btn {
    background: $gold;
    color: $white;
    border-radius: 10px;
    padding: 17px 20px;
    width: 100%;
    border: 1px solid transparent;
    transition: color .4s, background-color .4s, border .4s;

    &:hover {
      background-color: transparent;
      color: $black;
      border-color: $gold;
    }

    &:focus {
      background-color: $black;
      border-color: transparent;
      color: $white;
    }
  }
}