.home-catalog {
  &__inner {
    @include flex-align-center(35);
    @media (max-width: 1350px) {
      gap: 20px;
    }
    @include r($desktop) {
      flex-direction: column;
    }
    @media (max-width: 720px) {
      align-items: flex-start;
    }
  }

  &__subtitle {
    @include flex-align-center(12);
    margin-bottom: 60px;
    font-weight: 500;
    font-size: 32px;
    @media (max-width: 1280px) {
      margin-bottom: 50px;
    }
    @include r($lg) {
      font-size: 28px;
      gap: 10px;
    }
    @media (max-width: 860px) {
      margin-bottom: 40px;
    }
    @include r($tablet) {
      font-size: 26px;
    }
    @include r($sm) {
      font-size: 24px;
    }

    img {
      user-select: none;
      @include r($lg) {
        width: 20px;
        height: 20px;
      }
      @include r($sm) {
        width: 18px;
        height: 18px;
      }
    }
  }

  &__categories {
    border-radius: 20px;
    border: 1px solid $gray-two;
    width: 100%;
    align-self: stretch;
    @include r($tablet) {
      border-radius: 14px;
    }
  }

  &__products {
    max-width: 100%;
  }

  &__item {
    @include flex-column(0);
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid transparent;
    background-color: $blocks;
    @media (max-width: 1100px) {
      border-radius: 15px;
    }
    @include r($tablet) {
      border-radius: 12px;
    }

    img {
      @include objectCoverBg;
      width: 100%;
      margin: 0 auto;
      user-select: none;
    }
  }

  &__image {
    img {
      @include objectCoverBg;
      @media (max-width: 1280px) {
        height: 200px;
      }
      @include r($desktop) {
        height: 260px;
      }
      @include r($lg) {
        height: 240px;
      }
      @media (max-width: 940px) {
        height: 250px;
      }
      @include r($tablet) {
        height: 210px;
      }
      @media (max-width: 740px) {
        height: 250px;
      }
      @include r($sm) {
        height: 230px;
      }
    }
  }

  &__content {
    padding: 20px 15px;
    height: 100%;
    @include flex-column(0);
  }

  &__price {
    border-radius: 13px;
    background-color: rgba($gold, .4);
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 500;
    display: block;
    max-width: max-content;
    margin-bottom: 20px;
    @include r($lg) {
      font-size: 14px;
      padding: 9px 13px;
    }
  }

  &__name {
    font-size: 18px;
    display: block;
    margin-bottom: 20px;
    @media (max-width: 1280px) {
      font-size: 16px;
    }
    @include r($phone) {
      font-size: 14px;
    }
  }

  &__more {
    @include flex-center;
    padding: 16px;
    width: 100%;
    margin-top: auto;
    background-color: $black;
    border-radius: 10px;
    border: 1px solid transparent;
    color: $white;
    transition: background-color .4s, border .4s, color .4s;
    @include r($lg) {
      font-size: 14px;
    }

    &:hover {
      background-color: transparent;
      border-color: $black;
      color: $black;
    }

    &:focus {
      background-color: $gold;
      color: $white;
      border-color: transparent;
    }
  }

  &__list {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    @include r($desktop) {
      max-width: 980px;
    }
  }

  &__link {
    display: flex;
    background-color: #FFF3E6;
    border: 1px solid transparent;
    border-radius: 20px;
    font-weight: 500;
    padding: 20px;
    line-height: 1;
    transition: background-color .4s, color .4s, border .4s;
    @media (max-width: 1280px) {
      padding: 17px;
      border-radius: 12px;
      font-size: 15px;
    }
    @include r($tablet) {
      font-size: 14px;
    }

    &:hover {
      background-color: transparent;
      border-color: #4e2c15;
    }

    &:focus {
      background-color: rgba($gold, .7);
      border-color: transparent;
    }
  }

  &__navigation {
    @include flex-align-center(8);

    &.bottom {
      margin-bottom: 25px;
    }
  }

  &__btn {
    @include flex-center;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    border: 1px solid transparent;
    background-color: $gold;
    transition: all .4s;
    @media (max-width: 860px) {
      width: 46px;
      height: 46px;
      svg {
        width: 22px;
        height: 22px;
      }
    }

    &.swiper-button-disabled {
      opacity: .4;
      pointer-events: none;
      user-select: none;
    }

    &:hover {
      background-color: $gold200;
    }

    &:focus {
      background-color: transparent;
      border-color: $gold;

      svg path {
        fill: $gold;
      }
    }
  }

  .swiper {
    overflow: visible !important;
    cursor: grab;

    &-wrapper {
      box-sizing: border-box;
    }

    &-slide {
      @include r($tablet) {
        min-width: 270px;
        max-width: 270px;
      }
      @media (max-width: 610px) {
        min-width: 250px;
        max-width: 250px;
      }
      @media (max-width: 565px) {
        min-width: 230px;
        max-width: 230px;
      }
      @media (max-width: 468px) {
        min-width: 260px;
        max-width: 260px;
      }
    }
  }
}