.header {
  &__inner {
    @include flex-between(30);
    padding: 22px 0;
    align-items: center;
  }

  &__navigation {
    background-color: $blocks;
  }

  &__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    width: 100%;
    padding: 6px 5px;
    border-radius: 9px;
    background-color: $blocks;

    label {
      width: 100%;
    }

    &-btn {
      display: flex;
      gap: 7px;
      font-weight: 500;
      line-height: 1;
      max-width: max-content;
      align-items: center;
      justify-content: center;
      background-color: $gold;
      border-radius: 6px;
      padding: 14px 25px;
      transition: background-color .4s, border-color .4s, opacity .4s, color .4s;
      border: 1px solid rgba(0, 0, 0, 0);
      color: $white;

      &:hover {
        background-color: $gold200;
      }

      &:focus {
        background-color: transparent;
        border-color: $gold200;
        color: $black;
      }
    }
  }

  &__input {
    width: 100%;
    padding: 9px 0 9px 10px;
  }

  &__list {
    @include flex-between-center-gap(80);
    justify-content: center;
    padding: 26px 0;
  }

  &__link {
    font-size: 18px;
    font-weight: 500;
    position: relative;
    transition: color .4s;

    &:hover {
      &::before {
        width: 100%;
      }
    }

    &:focus {
      color: #FA7800;

      &::before {
        width: 100%;
        background-color: #FA7800;
      }
    }

    &::before {
      @include pseudo;
      bottom: -4px;
      left: 0;
      background-color: $black;
      height: 1px;
      width: 0;
      transition: width .4s, background-color .4s;
    }
  }

  &__text {
    font-size: 16px;
  }

  &__right {
    @include flex-align-center(8);
  }

  &__btn {
    @include flex-align-center(10);
    background-color: $gold;
    padding: 15px 20px;
    border-radius: 10px;
    color: $white;
    border: 1px solid transparent;
    transition: background-color .4s, color .4s, border .4s;

    &:hover {
      background-color: transparent;
      border-color: $gold200;
      color: $gold200;

      svg path {
        fill: $gold200;
      }
    }

    &:focus {
      background-color: rgba($gold200, .10);
      border-color: $gold200;
      color: $black;

      svg path {
        fill: $black;
      }
    }
  }
}