.title-section {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.2;
  @include r($desktop) {
    font-size: 34px;
  }
  @include r($lg) {
    font-size: 32px;
  }
  @media (max-width: 810px) {
    font-size: 30px;
  }
  @media (max-width: 660px) {
    font-size: 28px;
  }
  @include r($sm) {
    font-size: 26px;
  }
  @include r($phone) {
    font-size: 25px;
  }
}

.title {
  font-size: 36px;
  margin-bottom: 40px;
  font-weight: 500;
  line-height: 1.2;
  @include r($tablet) {
    font-size: 34px;
  }
  @include r($sm) {
    font-size: 32px;
  }

  &--bottom {
    margin-bottom: 60px;
    @include r($lg) {
      margin-bottom: 50px;
    }
    @include r($phone) {
      margin-bottom: 40px;
    }
  }
}